@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-gray-500;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-black dark:text-white;
  }
  .link {
    @apply border-b-2 pb-[1px] border-black/30 dark:border-white/30 hover:border-black/70 hover:dark:border-white/70 border-dashed transition-all duration-300 ease-in-out;
  }
  .project-icon {
    @apply bg-black text-white dark:bg-white/80 dark:text-black p-1 rounded h-7 w-7 mb-2 transition-all duration-300 ease-in-out z-10;
  }
  .mesh-gradient {
    background-image: radial-gradient(at 7% 15%,#96dff8 0,transparent 50%),radial-gradient(at 90% 37%,#97c6fc 0,transparent 50%),radial-gradient(at 39% 61%,#7a87e6 0,transparent 50%),radial-gradient(at 86% 23%,#cf62fd 0,transparent 50%),radial-gradient(at 0 70%,#e1a551 0,transparent 50%),radial-gradient(at 41% 2%,#f051d0 0,transparent 50%),radial-gradient(at 96% 53%,#dfaf5d 0,transparent 50%);
    background-size: 400% 400%;
    background-color: #99d8ff;
    animation: mesh 2s linear infinite;
    @apply -mt-8 text-white h-7 w-7 rounded z-0;
  }
}

@keyframes mesh {
  0%   { background-position: 0 50%;    }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0 50%;    }
}