---
---
<section>
<h2 class="mb-2">Education:</h2>
<ul class="flex flex-col gap-4 list-disc list-outside ml-4">
  <li>
    <h3>
      Bachelors in Engineering (CSE) at
      <a class="link" href="https://ritchennai.org" target="_blank" rel="noreferrer noopener">RIT</a>
    </h3>
    <p class="text-sm">2021 - Current • Chennai, IN</p>
  </li>
</ul>
</section>