@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .noise-bg {
    background-image: url('/noise.svg');
    @apply bg-background;
  }
}

@layer utilities {
  .min-h-dynamic {
    min-height: 100vh; /* fallback for Opera, IE and etc. */
    min-height: 100dvh;
  }
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #bdc2c7;
}

::-webkit-scrollbar-thumb {
  background: #4a5157;
  border-radius: 10px;
}

.typing {
  width: 10ch;
  animation: typing 5s steps(10) infinite alternate, blink .5s step-end infinite alternate;
  /* animation-play-state: paused; */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  0% { width: 0 }
  40% { width: 10ch }
  100% { width: 10ch }

}
    
@keyframes blink {
  50% { border-color: transparent }
}
