@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.about-bg {
  background-image: url("/about.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: 40% auto;
  background-repeat: no-repeat;
}