---
import Layout from '@/layouts/Layout.astro';
---

<Layout active={4}>
<p>If you want to get in touch with me about something or just to say hi, reach out on social media or send me an email.</p>

<p>
    <a href="https://twitter.com/pranshuj73" class="link" target="_blank" rel="noopener noreferrer">Twitter / X</a> •
    <a href="https://github.com/pranshuj73" class="link" target="_blank" rel="noopener noreferrer">GitHub</a> •
    <a href="https://linkedin.com/in/pranshuj73" class="link" target="_blank" rel="noopener noreferrer">LinkedIn</a> •
  <a href="mailto:hello@pranshujha.com" class="link" target="_blank" rel="noopener noreferrer">hello@pranshujha.com</a>
</p>

</Layout>