---
import Layout from '@/layouts/Layout.astro';
---

<Layout active={4}>
<p>Feel free to reach out to me through my email: <a href="mailto:hello@pranshujha.com" class="link" target="_blank" rel="noopener noreferrer">hello@pranshujha.com</a></p>

<p>If you'd like to collab or discuss something, you can also <a href="https://cal.com/pranshuj73" class="link" target="_blank" rel="noopener noreferrer">book a meeting</a> or drop a dm on <a href="https://x.com/pranshuj73" class="link" target="_blank" rel="noopener noreferrer">twitter / x</a>.</p>

</Layout>