---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/project-card.astro';
import data from '@/data/projects.json';

// projects that are still a work in progress
const wip = 1;
---

<Layout active={1}>
<p>Here are some of my projects. I'm always working on something new, so check back often!</p>

<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 gap-y-12 -mb-2">
    { data.projects.slice(0, -wip).map((project, index) => ( <Card {...project} key={index} /> ))}
</section>

<p class="mt-8">Currently working on the following ideas:</p>

<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 gap-y-12 -mb-2">
    { data.projects.slice(-wip).map((project, index) => ( <Card {...project} key={index} /> ))}
</section>
</Layout>