---
import Layout from '../layouts/Layout.astro';
import skillsData from '@/data/stack.json';
---

<Layout active={2}>
	<p>I primarily work with the following technologies:</p>
	{Object.entries(skillsData.stack).map(([category, skills]) => (
		<ul class="list-disc list-inside -mt-4">
			<h4>{category}:</h4>
			{skills.map((skill) => ( <li>{skill}</li> ))}
		</ul>
	))}
</Layout>