---
import Layout from '../../layouts/Layout.astro';
---

<Layout active={2}>
<p>I primarily work with the following technologies:</p>

<ul class="list-disc list-inside -mt-4">
    <h4>Frontend:</h4>
    <li>Next.js</li>
    <li>React</li>
    <li>Vanilla / Tailwind CSS</li>
    <li>HTML</li>
</ul>

<ul class="list-disc list-inside -mt-4">
    <h4>Backend:</h4>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>SQL / NoSQL</li>
</ul>

<ul class="list-disc list-inside -mt-4">
    <h4>Languages:</h4>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Python</li>
    <li>Java (basic)</li>
</ul>

<ul class="list-disc list-inside -mt-4">
    <h4>Tools:</h4>
    <li>Linux</li>
    <li>Android Studio</li>
    <li>Git / GitHub</li>
</ul>

</Layout>