---
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/sections/Header.astro';
import Hi from '@/components/hi';
import '@/styles/globals.css'

// ABOUT - 00
const { active = 0 } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="color-scheme" content="dark">

		<!-- Primary Meta Tags -->
		<title>Pranshu Jha</title>
		<meta name="title" content="Pranshu Jha" />
		<meta name="description" content="Full-Stack Developer Crafting Unique Digital Experiences." />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="pranshujha.com" />
		<meta property="og:title" content="Pranshu Jha" />
		<meta property="og:description" content="Full-Stack Developer Crafting Unique Digital Experiences." />
		<meta property="og:image" content="/meta.jpg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="pranshujha.com" />
		<meta property="twitter:title" content="Pranshu Jha" />
		<meta property="twitter:description" content="Full-Stack Developer Crafting Unique Digital Experiences." />
		<meta property="twitter:image" content="/meta.jpg" />

		<ViewTransitions />
		
	</head>
	<body class="dark px-4 pt-8 md:pt-0 pb-20 sm:m-4 md:m-8 !mx-auto max-w-screen-lg lg:pl-[calc((100vw-100%)/2)]">
		<Hi client:only="react" />
		<Header active={active} />
		<main class="text-gray-900 dark:text-gray-400 flex flex-col gap-8" transition:animate="fade">
			<slot />
		</main>
	</body>
</html>
