html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  @apply min-h-screen;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  @apply bg-secondary;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid;
  @apply bg-yellow-200 border-secondary;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  @apply text-primary dark:text-white;
}

h1 { @apply lg:text-7xl text-5xl; }
h2 { @apply lg:text-4xl text-2xl; }
h3 { @apply lg:text-3xl text-xl; }
h4 { @apply lg:text-xl text-base; }
h5 { @apply lg:text-lg text-sm; }
h6 { @apply lg:text-sm text-xs; }

.sub-text {
  @apply text-gray-700 dark:text-gray-400;
}

.card {
  @apply bg-gray-100 dark:bg-secondary rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-200 ease-in-out;
}

.pill {
  @apply p-2 px-5 rounded-full bg-primary dark:bg-white text-white dark:text-primary font-semibold flex flex-row items-center justify-center;
}

.pill-icon {
  fill: #FFFBFE!important;
  margin-right: 5px;
  @apply hidden sm:block
}

body.dark .pill-icon {
  fill: #333333!important;
  margin-right: 5px;
  @apply hidden sm:block;
}

.dark-section {
  position: relative;
  @apply bg-gray-300 dark:bg-tertiary
}

.dark-section .card {
  @apply bg-gray-300 dark:bg-secondary
}

.dark-section * {
  z-index: 1;
}

.dark-section::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip-path: polygon(50% 0, 100% 0, 100% 95%, 50% 100%, 0 100%, 0 5%);
  @apply bg-gray-100 dark:bg-primary;
}

.cut-out {
  clip-path: polygon(50% 0, 100% 0, 100% 95%, 50% 100%, 0 100%, 0 5%);
}
