html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  @apply min-h-screen;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  @apply bg-secondary;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid;
  @apply bg-yellow-200 border-secondary;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  @apply text-primary dark:text-white;
}

main, article {
  @apply dark:bg-primary bg-white;
}

h1 { @apply lg:text-7xl text-5xl; }
h2 { @apply lg:text-4xl text-2xl; }
h3 { @apply lg:text-3xl text-xl; }
h4 { @apply lg:text-xl text-base; }
h5 { @apply lg:text-lg text-sm; }
h6 { @apply lg:text-sm text-xs; }

.sub-text {
  @apply text-gray-700 dark:text-gray-400;
}

.card {
  @apply bg-gray-300 dark:bg-secondary p-10 rounded-lg m-5 shadow-lg hover:shadow-xl transition-shadow duration-200 ease-in-out min-h-[400px] md:h-[80vh] lg:h-[60vh];
}

.pill {
  @apply p-1 px-5 rounded-full bg-primary dark:bg-white text-white dark:text-primary font-semibold flex flex-row items-center justify-center;
}

.pill-icon {
  fill: #FFFBFE!important;
  margin-right: 5px;
  @apply hidden sm:block
}

body.dark .pill-icon {
  fill: #201D2F!important;
  margin-right: 5px;
  @apply hidden sm:block
}